.search-form {
	@extend %clearfix;
	
	margin: 0 0 1em;

	h1 {
		@extend %visually-hidden;
	}

	input[type=text] {
		border: $borderWidth $borderStyle $borderColor;
		margin: 0 2% 0 0;
		outline: none;
		padding: 0.6em 2%;
		width: 152px !important;
	}

	button {
		background: transparent;
		border: $borderWidth $borderStyle $borderColor;
		float: right;
		margin: 0;
		padding: 0.6em 2%;
		text-transform: uppercase;
		width: 25%;
	}

	.text-core {
		float: left;
		width: 160px;
	}
}

.search-term {
	color: $green;
}

.search-results {
	h2 {
		font-size: 1.2em;
		font-weight: 300;
	}
}